/* general style */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* home page */
.video-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000000;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #000000;
}
.card {
  width: 250px;
  background-color: #0a0606;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.card img {
  width: 100%;
  border-radius: 8px;
}
.card-btn {
  background-color: #000000;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  margin-top: auto;
}
.card-title {
  font-size: 20px;
  font-weight: 25px;
  color: #fff;
  margin: 5px;
}
.card-text {
  font-size: 20px;
  font-weight: 25px;
  color: #fff;
  margin: 5px;
}
.card-btn:hover {
  background-color: #333;
}
/* login */
.login-container h2 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
  color: #fff;
}
.login-container label {
  text-align: center;
  color: #fff;
}
.login-container span {
  text-align: center;
  margin-bottom: 25px;
  color: #fff;
}
/* sign up */
.form-container h1 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
  color: #fff;
}
.form-container label {
  text-align: center;
  color: #fff;
}
.form-container p {
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
}
